<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-cardetails" >
	<tr>
		<td>
			<f:translate key="tx_cardetails_domain_model_cardetails.c_id" />
		</td>
		<td>
		{carDetails.cId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cardetails_domain_model_cardetails.c_name" />
		</td>
		<td>
		{carDetails.cName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cardetails_domain_model_cardetails.c_brand" />
		</td>
		<td>
		{carDetails.cBrand}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cardetails_domain_model_cardetails.color" />
		</td>
		<td>
		{carDetails.color}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cardetails_domain_model_cardetails.price" />
		</td>
		<td>
		{carDetails.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cardetails_domain_model_cardetails.fuel_type" />
		</td>
		<td>
		{carDetails.fuelType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cardetails_domain_model_cardetails.seller" />
		</td>
		<td>
		{carDetails.seller}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cardetails_domain_model_cardetails.image" />
		</td>
		<td>
				<f:image src="{carDetails.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>
</html>