<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-cardetails" >
	<tr>
		<td>
			<f:translate key="tx_cardetails_domain_model_cardetails.c_id" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cardetails_domain_model_cardetails.c_name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cardetails_domain_model_cardetails.c_brand" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cardetails_domain_model_cardetails.color" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cardetails_domain_model_cardetails.price" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cardetails_domain_model_cardetails.fuel_type" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cardetails_domain_model_cardetails.seller" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cardetails_domain_model_cardetails.image" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>