<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="sId">
	<f:translate key="tx_cardetails_domain_model_sellerdetails.s_id" />
</label><br />
	<f:form.textfield property="sId" /><br />
<label for="sName">
	<f:translate key="tx_cardetails_domain_model_sellerdetails.s_name" />
</label><br />
	<f:form.textfield property="sName" /><br />
<label for="sContact">
	<f:translate key="tx_cardetails_domain_model_sellerdetails.s_contact" />
</label><br />
	<f:form.textfield property="sContact" /><br />
</html>