<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-search" >
	<tr>
		<td>
			<f:translate key="tx_search_domain_model_searchtable.car_brand" />
		</td>
		<td>
		{searchTable.carBrand}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_search_domain_model_searchtable.fuel_type" />
		</td>
		<td>
		{searchTable.fuelType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_search_domain_model_searchtable.color" />
		</td>
		<td>
		{searchTable.color}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_search_domain_model_searchtable.price" />
		</td>
		<td>
		{searchTable.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_search_domain_model_searchtable.miles_run" />
		</td>
		<td>
		{searchTable.milesRun}
		</td>
	</tr>
</table>
</html>