<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="carId">
	<f:translate key="tx_zingcarinfo_domain_model_zingcardetail.car_id" />
</label><br />
	<f:form.textfield property="carId" /><br />
<label for="carBrand">
	<f:translate key="tx_zingcarinfo_domain_model_zingcardetail.car_brand" />
</label><br />
	<f:form.textfield property="carBrand" /><br />
<label for="carName">
	<f:translate key="tx_zingcarinfo_domain_model_zingcardetail.car_name" />
</label><br />
	<f:form.textfield property="carName" /><br />
<label for="carPrice">
	<f:translate key="tx_zingcarinfo_domain_model_zingcardetail.car_price" />
</label><br />
	<f:form.textfield property="carPrice" /><br />
<label for="fuelType">
	<f:translate key="tx_zingcarinfo_domain_model_zingcardetail.fuel_type" />
</label><br />
	<f:form.textfield property="fuelType" /><br />
<label for="carImage">
	<f:translate key="tx_zingcarinfo_domain_model_zingcardetail.car_image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
</html>