<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-zingcarinfo" >
	<tr>
		<td>
			<f:translate key="tx_zingcarinfo_domain_model_zingcardetail.car_id" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_zingcarinfo_domain_model_zingcardetail.car_brand" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_zingcarinfo_domain_model_zingcardetail.car_name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_zingcarinfo_domain_model_zingcardetail.car_price" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_zingcarinfo_domain_model_zingcardetail.fuel_type" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_zingcarinfo_domain_model_zingcardetail.car_image" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>