<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="cId">
	<f:translate key="tx_cardetails_domain_model_cardetails.c_id" />
</label><br />
	<f:form.textfield property="cId" /><br />
<label for="cName">
	<f:translate key="tx_cardetails_domain_model_cardetails.c_name" />
</label><br />
	<f:form.textfield property="cName" /><br />
<label for="cBrand">
	<f:translate key="tx_cardetails_domain_model_cardetails.c_brand" />
</label><br />
	<f:form.textfield property="cBrand" /><br />
<label for="color">
	<f:translate key="tx_cardetails_domain_model_cardetails.color" />
</label><br />
	<f:form.textfield property="color" /><br />
<label for="price">
	<f:translate key="tx_cardetails_domain_model_cardetails.price" />
</label><br />
	<f:form.textfield property="price" /><br />
<label for="fuelType">
	<f:translate key="tx_cardetails_domain_model_cardetails.fuel_type" />
</label><br />
	<f:form.textfield property="fuelType" /><br />
<label for="seller">
	<f:translate key="tx_cardetails_domain_model_cardetails.seller" />
</label><br />
	<f:form.textfield property="seller" /><br />
</html>