<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for SellerDetails</h1>

		<f:flashMessages />

		<table  class="tx_cardetails" >
			<tr>
				<th><f:translate key="tx_cardetails_domain_model_sellerdetails.s_id" /></th>
				<th><f:translate key="tx_cardetails_domain_model_sellerdetails.s_name" /></th>
				<th><f:translate key="tx_cardetails_domain_model_sellerdetails.s_contact" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{sellerDetailss}" as="sellerDetails">
				<tr>
					<td><f:link.action action="show" arguments="{sellerDetails : sellerDetails}"> {sellerDetails.sId}</f:link.action></td>
					<td><f:link.action action="show" arguments="{sellerDetails : sellerDetails}"> {sellerDetails.sName}</f:link.action></td>
					<td><f:link.action action="show" arguments="{sellerDetails : sellerDetails}"> {sellerDetails.sContact}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{sellerDetails : sellerDetails}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{sellerDetails : sellerDetails}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New SellerDetails</f:link.action>
	</f:section>
</html>