<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="sellerId">
	<f:translate key="tx_zingcarinfo_domain_model_sellerinfo.seller_id" />
</label><br />
	<f:form.textfield property="sellerId" /><br />
<label for="sellerName">
	<f:translate key="tx_zingcarinfo_domain_model_sellerinfo.seller_name" />
</label><br />
	<f:form.textfield property="sellerName" /><br />
<label for="sellerContact">
	<f:translate key="tx_zingcarinfo_domain_model_sellerinfo.seller_contact" />
</label><br />
	<f:form.textfield property="sellerContact" /><br />
<label for="carId">
	<f:translate key="tx_zingcarinfo_domain_model_sellerinfo.car_id" />
</label><br />
	<f:form.textfield property="carId" /><br />
</html>