<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for CarName</h1>

		<f:flashMessages />

		<table  class="tx_cardetails" >
			<tr>
				<th><f:translate key="tx_cardetails_domain_model_carname.c_n_id" /></th>
				<th><f:translate key="tx_cardetails_domain_model_carname.c_name" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{carNames}" as="carName">
				<tr>
					<td><f:link.action action="show" arguments="{carName : carName}"> {carName.cNId}</f:link.action></td>
					<td><f:link.action action="show" arguments="{carName : carName}"> {carName.cName}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{carName : carName}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{carName : carName}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New CarName</f:link.action>
	</f:section>
</html>