<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="carBrand">
	<f:translate key="tx_search_domain_model_searchtable.car_brand" />
</label><br />
	<f:form.textfield property="carBrand" /><br />
<label for="fuelType">
	<f:translate key="tx_search_domain_model_searchtable.fuel_type" />
</label><br />
	<f:form.textfield property="fuelType" /><br />
<label for="color">
	<f:translate key="tx_search_domain_model_searchtable.color" />
</label><br />
	<f:form.textfield property="color" /><br />
<label for="price">
	<f:translate key="tx_search_domain_model_searchtable.price" />
</label><br />
	<f:form.textfield property="price" /><br />
<label for="milesRun">
	<f:translate key="tx_search_domain_model_searchtable.miles_run" />
</label><br />
	<f:form.textfield property="milesRun" /><br />
</html>